body {
  font-family: "Raleway", sans-serif;
}

.navbar-toggler {
  width: 3rem;
  max-width: 20vw;
  height: 3rem;
  max-height: 20vw;
  padding: 0;
}

.navbar-toggler-icon{
  max-width: 80%;
  max-height: 80%;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  min-height: 120vh;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  max-height: 60vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
    max-width: 40vw;
    margin: 0;
  }

}
